.no-date-offer {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .no-date {
        gap: 20px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        max-width: 500px;
        padding: 40px 20px;
        text-align: center;
        border-radius: 25px;
        flex-direction: column;
        background-color: white;

        img {
            width: 100px;
            margin: 0 auto;
        }
    }
}